asn1crypto==0.24.0
cffi==1.14.2
cryptography==2.1.4
Django==2.2
django-ckeditor==5.9.0
django-js-asset==1.2.2
enum34==1.1.6
gunicorn==19.7.1
idna==2.6
ipaddress==1.0.17
jeepney==0.4.3
keyring==10.6.0
keyrings.alt==3.0
paramiko==2.0.0
pexpect==4.2.1
psycopg2==2.8.5
ptyprocess==0.6.0
pyasn1==0.4.2
pycparser==2.20
pycrypto==2.6.1
pytz==2018.3
pyxdg==0.25
PyYAML==3.12
SecretStorage==2.3.1
six==1.11.0
sqlparse==0.2.4
